<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>


        <div class="movies">
            <h1>ERROR</h1>
        </div>

        <div class="movie">
            <h1>400</h1>
            <h2>Bad Request</h2>
            <p>The server cannot or will not process the request due to something that is perceived to be a client
                error.</p>
        </div>

    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>