<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<body class="container">
    <main>
        <div class="movies">
            <h1>Home</h1>
        </div>
        <div class="movie">
            <h2>Under Construction... <i class="fa-solid fa-hammer"></i></h2>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>